<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Liste des articles</title>
    </head>
    <body>
        <div>
            
            <img src="../public/build/data/Logo_PDF.png" class="img-fluid mr-5" alt="logo barri PDF" style="width:18%">
        </div>
        <div class="container pb-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Alerte sur la date d'expiration des ces produits</h2>
                    <h3>Edité par : {{app.user.firstname}} {{app.user.lastname}} le {{date | date('d/m/Y')}}</h3> 
                </div>
            </div>
        </div>
        <table class="table text-center border">
            <thead class="thead-dark">
                <tr>
                    <th scope="col-2" colspan="2">Numéro</th>
                    <th scope="col-2" colspan="2">Designation</th>
                    <th scope="col-2" colspan="2">Date de production</th>
                    <th scope="col-2" colspan="2">Date d'expiration</th>
                    <th scope="col-2" colspan="2">Expire dans</th>
                </tr>
            </thead>
            <tbody class="js-filter-content">
            
                {% for article in articles %}
                    <tr class="border">
                        <td colspan="2">{{article.number}}</td>
                        <td colspan="2">{{article.designation}}</td>
                        <td colspan="2">{{article.productiondate | date('d/m/y') }}</td>
                        <td colspan="2">{{article.endDate | date('d/m/y') }}</td>
                        <td colspan="2">{{interval}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>

        
        