<div class="modal fade bd-example-modal-xl" tabindex="-1" id="modalAlert" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dna" role="document" style="width:100%">
        <div class="modal-content text-center justify-content-center">
            <div class="modal-header d-flex">
                <h5 class="modal-title title" id="exampleModalCenterTitle">Produit(s) à date d'expiration proche </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body justify-content-center">
                <table class="table text-center border" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Code</th>
                            <th>Entrez en stock</th>
                            <th>Date d'expiration</th>
                            <th>Expire dans</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in alert %}
                            {% if a.enddate != null %}
                                <tr onclick="document.location='{{path('user_article_show', {'id': a.id})}}' "
                                    class="view_article test">
                                    <td><strong>{{a.designation}}</strong></td>
                                    <td>{{a.number}}</td>
                                    <td>{{a.productiondate | date('d/m/Y')}}</td>
                                    <td>{{a.enddate | date('d/m/Y')}}</td>
                                    <td><strong class="diff1">{{a.interval}} jours</strong></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>